<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- =====================
         Insurance Beans
    ===================== -->

    <!-- Health Insurance Bean -->
    <bean id="healthInsurance" class="com.example.calculator.HealthInsurance">
        <!-- default values are set in the class -->
    </bean>

    <!-- Term Insurance Bean -->
    <bean id="termInsurance" class="com.example.calculator.TermInsurance">
        <!-- default values are set in the class -->
    </bean>

    <!-- =====================
         Customer Bean
    ===================== -->
    <bean id="customer" class="com.example.calculator.Customer">
        <property name="name" value="Default User"/> <!-- will be overridden at runtime -->
        <property name="age" value="25"/>           <!-- will be overridden at runtime -->
        <property name="insurance" ref="healthInsurance"/> <!-- default, can be replaced -->
    </bean>

</beans>
